<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="https://mape.shanghai-map.net/arcgis/rest/services/SHMAP_SU/MapServer"
        matchAll="true"/>
    <serverUrl url="https://mape.shanghai-map.net/arcgis/rest/services/SHMAP_SUZJ/MapServer"
        matchAll="true"/>
    <serverUrl url="https://mape.shanghai-map.net/arcgis/rest/services/SHMAP_DZJ/MapServer"
        matchAll="true"/>
  </serverUrls>
</ProxyConfig>
